<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Report by Clients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1 th:text="'Clients with consumption over ' + ${consumption}"/>

<table>
    <thead>
    <tr>
        <th>Client</th>
        <th>Consumption</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${report.empty}">
        <td colspan="2"> No clients available</td>
    </tr>
    <tr th:each="client : ${report}">
        <td><span th:text="${client.key}"> Client </span></td>
        <td><span th:text="${client.value}"> Consumption </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>