<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Report by Waiters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Waiter</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${report.empty}">
        <td colspan="2"> No waiters available</td>
    </tr>
    <tr th:each="waiter : ${report}">
        <td><span th:text="${waiter.key}"> Waiter </span></td>
        <table>
            <tr>
                <th>Month</th>
                <th>Sum</th>
            </tr>
            <tr th:if="${waiter.value.empty}">
                <td colspan="2"> No reports available</td>
            </tr>
            <tr th:each="month : ${waiter.value}">
                <td><span th:text="${month.key}"> Month </span></td>
                <td><span th:text="${month.value}"> Sum </span></td>
            </tr>
        </table>
    </tr>
    </tbody>
</table>

</body>
</html>