<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chef</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'You are viewing chef: ' + ${chef.id_chef}" />
<p th:text="'First name : ' + ${chef.first_name}" />
<p th:text="'Last name 1 : ' + ${chef.last_name1}" />
<p th:text="'Last name 2 : ' + ${chef.last_name2}" />
</body>
</html>