<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'You are viewing client: ' + ${client.id_client}" />
<p th:text="'First name : ' + ${client.first_name}" />
<p th:text="'Last name 1 : ' + ${client.last_name1}" />
<p th:text="'Last name 2 : ' + ${client.last_name2}" />
<p th:text="'Observations : ' + ${client.observations}" />
</body>
</html>