<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'You are viewing detail: ' + ${detail.id_detail}" />
<p th:text="'Invoice : ' + ${id_invoice}" />
<p th:text="'Client : ' + ${client_name}" />
<p th:text="'Chef : ' + ${chef_name}" />
<p th:text="'Dish : ' + ${detail.dish}" />
<p th:text="'Cost : ' + ${detail.cost}" />
</body>
</html>