<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'You are viewing invoice: ' + ${id_invoice}" />
<p th:text="'Client : ' + ${client_name}" />
<p th:text="'Waiter : ' + ${waiter_name}" />
<p th:text="'Table : ' + ${id_table}" />
<p th:text="'Date : ' + ${date}" />

<table>
    <thead>
    <tr>
        <th>Dish</th>
        <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${details.empty}">
        <td colspan="2"> No details available </td>
    </tr>
    <tr th:each="detail : ${details}">
        <td><span th:text="${detail.dish}"> Dish </span></td>
        <td><span th:text="${detail.cost}"> Cost </span></td>
    </tr>
    </tbody>
</table>

<h2 th:text="'Total : ' + ${total}"/>

</body>
</html>