<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'You are viewing table: ' + ${table.id_table}" />
<p th:text="'Max number of acomodations : ' + ${table.max_num}" />
<p th:text="'Location : ' + ${table.location}" />
</body>
</html>