<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waiter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'You are viewing waiter: ' + ${waiter.id_waiter}" />
<p th:text="'First name : ' + ${waiter.first_name}" />
<p th:text="'Last name 1 : ' + ${waiter.last_name1}" />
<p th:text="'Last name 2 : ' + ${waiter.last_name2}" />
</body>
</html>